body {background-color:black; font-family:arial; color:white}
h1{color:grey;font-family:Verdana, Geneva, Tahoma, sans-serif;}
.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto;
}
.optionstable {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.resultvar {
    background-color: yellow;
}


